body{
    margin:0;
    display: flexbox;
    background: url("https://images.unsplash.com/photo-1516455207990-7a41ce80f7ee?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    -webkit-background-size: cover;
     -moz-background-size: cover;
    -o-background-size: cover;
     background-size: cover;
}

form{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

input{
    border: 2px solid salmon;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-family: cursive;
    font-weight: bold;
}

.btn{
    background-color: pink;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    text-decoration: none;
    color: black;
    position:absolute;
    top: 30px;
    left: 91vw;
    margin: 10px;
    

    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 1;
}

/* .btn::before{
    content: "";
    position:relative;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
} */

.btn:hover::before{
    width: 300px;
    height: 300px;
}